/*  START TITLE */
.mainvisual {
    width: 100%;
    height: 100vh;
  }
  .mainvisual__titlearea {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
  .mainvisual__title {
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 5rem;
    padding-top: 45%;
  }
  .mainvisual__subtitle {
    display: block;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-family: '851ゴチカクット', sans-serif;
  }



//タブレットサイズ
@media screen and (max-width : 1025px) {
    .mainvisual__titlearea {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .mainvisual__title {
        display: block;
        width: 100%;
        height: 100vh;
        text-align: center;
        font-size: 7rem;
        padding-top: 50%;
    }
    .mainvisual__subtitle {
        display: block;
        width: 100%;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        font-family: '851ゴチカクット', sans-serif;
      }
    
}

//スマートフォン用サイズ
@media screen and (max-width : 600px) {
    .mainvisual__titlearea {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .mainvisual__title {
        display: block;
        width: 100%;
        height: 100vh;
        text-align: center;
        font-size: 3.7rem;
        padding-top: 90%;
    }
    .mainvisual__subtitle {
        display: block;
        width: 100%;
        color: white;
        font-size: 0.8rem;
        text-align: center;
        font-family: '851ゴチカクット', sans-serif;
      }
}
/*  END TITLE */

// 動きの記述 上手く作動するかはわからない
/* 下から */

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }


/* 左から */

.fadeLeft{
  animation-name:fadeLeftAnime;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeLeftAnime{
    from {
      opacity: 0;
    transform: translateX(-100px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }
  
  /* 右から */
  
  .fadeRight{
  animation-name:fadeRightAnime;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeRightAnime{
    from {
      opacity: 0;
    transform: translateX(100px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }